video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;  //保持原有的高宽比,尽可能占满整个网页
            z-index: -1;
        }